
<div class="toolbar" role="banner">
  <a routerLink="/">
    <img
      width="120"
      alt="Angular Logo"
      src="../assets/images/mazda.png"
    />
  </a>
  <span>MAZDA FIELD PORTAL</span>
    <div class="spacer"><!-- <mat-tab-group mat-stretch-tabs class="parent-tab-group" >
  <mat-tab label="Days Of Supply" color="blue" mat-stretch-tabs>
    <mat-tab-group mat-stretch-tabs>
content

    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Sales Report">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="P2 - C1"> Parent 2 - Child 1 </mat-tab>
      <mat-tab label="P2 - C2"> Parent 2 - Child 2 </mat-tab>
      <mat-tab label="P2 - C3"> Parent 2 - Child 3 </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab label="Incoming">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="P3 - C1"> Parent 3 - Child 1 </mat-tab>
      <mat-tab label="P3 - C2"> Parent 3 - Child 2 </mat-tab>
      <mat-tab label="P3 - C3"> Parent 3 - Child 3 </mat-tab>
    </mat-tab-group>
  </mat-tab>
    <mat-tab label="Sales Composite">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="P3 - C1"> Parent 3 - Child 1 </mat-tab>
      <mat-tab label="P3 - C2"> Parent 3 - Child 2 </mat-tab>
      <mat-tab label="P3 - C3"> Parent 3 - Child 3 </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group> -->
<nav mat-tab-nav-bar ngClass = "tabs" animationDuration="0ms" mat-align-tabs="end"  >
   <a mat-tab-link routerLink="/home" >Home</a>
   <!--a mat-tab-label-active routerLink="/" routerLinkActive="active-link">Sales Report</a-->
   <a mat-tab-link routerLink="/sales" >Sales Report</a>
   <a mat-tab-link routerLink="/" >Incoming</a>
   <a mat-tab-link routerLink="/" >Sales Composite</a>

</nav>  


</div>
</div>

