<ng-content></ng-content>
<p>car line works</p>
<mat-tab label="Retail Unit Sold Per Car Line">
    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="">REGION</label>
        <select id="" class="form-control">
          <option>select</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="">ZONE</label>
        <select id="" class="form-control">
          <option>select</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="">DISTRICT</label>
        <select id="" class="form-control">
          <option>select</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="">DEALER</label>
        <select id="" class="form-control">
          <option>select</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-dark mt-6 buttonsubmit">Submit</button>
      </div>
    </div>
    <section>
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
       <h2>Retail unit sold in a month per car line</h2>
       <div class="d-grid gap-2 d-md-block">
         <button class="btn graphbtn btn-secondary btn-sm" type="button"mat-button mat-stroked-button>Last Month
         </button>
         <button class="btn graphbtn btn-secondary btn-sm" type="button" mat-button mat-stroked-button> <mat-icon>cloud_download</mat-icon> Export
         </button>

         <button class="btn graphbtn btn-secondary btn-sm" type="button" mat-button mat-stroked-button> <mat-icon>bar_chart</mat-icon> Bar Graph
         </button>
       </div>
     </div>  
     <div>
         <!--
       <canvas baseChart
         [datasets]="barChartData"
         [labels]="barChartLabels"
         [options]="barChartOptions"
         [legend]="barChartLegend"
         [chartType]="'bar'"
         >
       </canvas>
       -->
     </div>
    </section>
  </mat-tab>