// :host {
//     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//     font-size: 14px;
//     color: #333;
//     box-sizing: border-box;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// 	background-color:#ccc;
//   }
.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
    background: #fff;
    padding: 30px;
    box-shadow: 2px 2px 7px #ccc;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
tr:nth-child(even) {background-color: #f2f2f2;}

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000;
    color: white;
    font-weight: 600;
  }
  .form-row {
     margin-top: 50px;
}
th {
  background-color: #000;
    color: white;
    font-weight: 700 !important;
	text-transform:uppercase;
	
	background-image:none !important;
	}
  .toolbar span{
    font-size: 18px;
}
label {
    font-weight: 500;
}
::ng-deep .mat-ink-bar {
  background-color:#000 !important;color:red;}
  .content {
    display: flex;
    margin: 130px auto 32px;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column;
    height: 24px;
    width: auto;
  }
.routerLinkActive
{border-bottom:1px solid #fff;

}
  .graphbtn{
    color: #6c757d;
    background-color:transparent;
    border-color: 1px solid #6c757d !important;
	border-radius:50px;
    margin-left: 13px;
	padding:5px 30px;
	margin-top:10px;
}
.tabcolors
{
color:#fff;
}
canvas
{
margin-top:30px;
}
.buttonsubmit{
padding-left:50px;
padding-right:50px;
text-transform:uppercase;
Background:black;
    margin-top: 28px;
	border-radius:0px;
}
  a,
  a:visited,
  a:hover {
    color: #fff ;
    text-decoration: none;
	text-align:center !important;
text-transform:uppercase;
  }
  
.active-link
{
border-bottom:1px solid #fff !important;
margin-top:13px !important;
text-align:center !important;
width:15%;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #000000 !important;
}.mat-tab-label-active{
 border-bottom:1px solid #fff; 
 margin-top: 13px !important;
}.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: yellow;
  height: 10px;
} 

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1f29a2;
}
::ng-deep .parent-tab-group .mat-tab-label {
color:white;
}
.mat-tab-labels {
    min-width: 360px !important;
	width:360px;
	}
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  