@font-face {
    font-family: 'Mazda Type';
    src: url('../fonts/MazdaType-Bold.eot');
    src: url('../fonts/MazdaType-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/MazdaType-Bold.woff2') format('woff2'), url('../fonts/MazdaType-Bold.woff') format('woff'), url('../fonts/MazdaType-Bold.ttf') format('truetype'), url('../fonts/MazdaType-Bold.svg#MazdaType-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mazda Type';
    src: url('../fonts/MazdaType-Regular.eot');
    src: url('../fonts/MazdaType-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/MazdaType-Regular.woff2') format('woff2'), url('../fonts/MazdaType-Regular.woff') format('woff'), url('../fonts/MazdaType-Regular.ttf') format('truetype'), url('../fonts/MazdaType-Regular.svg#MazdaType-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mazda Type';
    src: url('../fonts/MazdaType-Medium.eot');
    src: url('../fonts/MazdaType-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/MazdaType-Medium.woff2') format('woff2'), url('../fonts/MazdaType-Medium.woff') format('woff'), url('../fonts/MazdaType-Medium.ttf') format('truetype'), url('../fonts/MazdaType-Medium.svg#MazdaType-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazda Type';
    src: url('../fonts/MazdaType-Italic.eot');
    src: url('../fonts/MazdaType-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/MazdaType-Italic.woff2') format('woff2'), url('../fonts/MazdaType-Italic.woff') format('woff'), url('../fonts/MazdaType-Italic.ttf') format('truetype'), url('../fonts/MazdaType-Italic.svg#MazdaType-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}