/* Import fonts */


@import url(font-face.css);


body {

    color: #797979;

    background: #eeeeee;

    font-family: 'Mazda Type' !important;

    font-weight: normal;

    font-style: normal;

    padding: 0px !important;

    margin: 0px !important;

    font-size:13px;

}

h1,h2,h3,h4,h5{

    font-weight: 300;

}

label{

    font-weight: 300;

}

ul li {

    list-style: none;

}



a, a:hover, a:focus {

    text-decoration: none;

    outline: none;

    outline: 0;

}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {

    background: #688a7e;

    color: #fff;

}

::-moz-selection {

    background: #688a7e;

    color: #fff;

}

hr{
   border-top: 1px solid #e2e2e2;   
   margin: 0;
}


