<div class="container-fluid m-header">
    <div  class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sales Report</h5>
              <h6 class="card-subtitle mb-2 text-muted">Retail Unit Sales By Carline</h6>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Carline</th>
                    <th scope="col">Month</th>
                    <th scope="col">Total Sales</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tabularData">
                    <th scope="row">{{item.index}}</th>
                    <td>{{item.carLine}}</td>
                    <td>April</td>
                    <td>{{item.qty}}</td>
                  </tr>
                </tbody>
              </table>
              <!--
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
              -->
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Retail Units Sold In A Month</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="chartType"
                >
              </canvas>       
              <a routerLink="/sales" class="card-link">Details</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Yearly Sales Data</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </div>
    </div>
</div>

